body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    height: 60px;
    box-shadow: 0px 1px 5px #111;
}


.slider {
    flex: 1;
    overflow: hidden;
}

.slides {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slide {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

.slide-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    box-shadow: 1px 2px 1px #333;
    font-size: 42px;
    background-color: rgba(0, 0, 0, 0.4);
}

.slider-buttons {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-button {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.slider-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: all ease 0.2s;
}

.slider-button img {
    height: 50px;
}